@font-face {
  font-family: "fontstuck";
  src: url(https://file.garden/X1htvgJ0DEp_tp-Z/MSPFA%20other/Alchemy/fontstuck-extended.ttf);
}

body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;

  background: linear-gradient(180deg, rgba(141,170,214,1) 0%, rgba(107,114,212,1) 100%);
  background-color: rgba(141,170,214,1);
  min-height: 100vh;
}

#main {
  margin: auto; 
}

#intro, #menu {
  margin: 10px auto;
  padding: 10px;
  width: max-content;

  border-radius: .5em;
  background-color: #62626262;
}

a {
  font-weight: bold;
}

ul {
  text-align: left;
}

#options {
  padding-top: 0.5em;
}

h1 {
  font-family: "fontstuck";
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 400;
}

/* Colours */
#colors {
  display: flex;
  justify-content: center;
  gap: 15px;

  max-width: calc((150px + 10px) * 8);
  margin: auto;
  padding: 10px;
}

#col1, #col2 {
  width: 50%;
  font-weight: 600;
  flex-grow: 1;
}

h2 {
  width: 100%;
  height: 75px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5em;
}

h2:target {
  border-bottom: solid black;
}

.sectionWrap {
  display: flex;
  flex-wrap: wrap;
  max-width: calc((150px + 10px) * 4);
  gap: 10px;
  justify-content: center;
  align-content: flex-start;
}

#colors details {
  width: 100%;
}

#colors summary {
  font-size: x-large;
  margin: 1em auto;
  width: fit-content;
  cursor: pointer;
}

button {
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  border-radius: 1em;
  padding: 0.25em 0.5em;
}

.copy {
  cursor: pointer;
  min-width: 125px;
  max-width: 50%;
  flex-grow: 1;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  transition: transform .1s;

  border-radius: .5em;
}

.copyinner {
  height: min-content;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 1em;
  
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .1s;
}

.copy:hover, .copyinner:hover {
  transform: scale(1.1);
}


.clickthrough {
  pointer-events: none;
}

/* Notification */
#notif {
  position: fixed;
  bottom: 5px;
  right: 5px;

  font-size: 28px;
  font-weight: 600;

  padding: 5px 10px;
  border-radius: .5em;
  background-color: white;
  opacity: 0;

  transition: opacity 2s 2s;
}

#notif.show {
  opacity: 1;
  transition: none;
}